.download-plug-container {
  background-image: url("http://placehold.co/1000");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.modal-fade {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

.modal-fade.visible {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
